<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-4">
                <a routerLink="/importcsvmaisontravauxdevis" routerLinkActive="text-dark">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                <strong class="mb-0 text-uppercase text-muted">Maison et Travaux</strong>
                                <strong class="mb-0 text-uppercase text-muted">Devis</strong>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a routerLink="/importcsvpaiement" routerLinkActive="text-dark">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <p class="mb-0 text-center">
                                <strong class="mb-0 text-uppercase text-muted">Paiement</strong>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</main>


