<main role="main" class="main-content">
  <div class="row align-items-center">
    <form class="col-lg-3 col-md-4 col-10 mx-auto text-center">
      <div class="mx-auto text-center my-4">
        <img width="250px" src="assets/img/logo.png">
        <h4 class="my-3">Réinitialisation de la base de données</h4>
      </div>
      <div class="alert alert-danger" role="alert">
        Toutes vos données vont être perdues. Cliquez sur le bouton si vous voulez continuer.
      </div>
      <button (click)="isLoading ? null : resetDatabase()"
              class="btn btn-lg btn-danger btn-block"
              [disabled]="isLoading">Réinitialiser</button>
      <div *ngIf="isLoading" class="spinner-border text-primary my-3" role="status">
        <span class="sr-only">Chargement...</span>
      </div>

      <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true" [class.show]="showModal">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div *ngIf="resultat; else errorTemplate">
              <div class="modal-header">
                <div class="icon-box">
                  <i class="fe fe-check fe-24">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Awesome!</h4>
              </div>
              <div class="modal-body">
                <p class="text-center">{{ message }}</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-success btn-block" data-bs-dismiss="modal" (click)="closeModal()">OK</button>
              </div>
            </div>
            <ng-template #errorTemplate>
              <div class="modal-header">
                <div class="icon-box" style="background: #ef513a !important;">
                  <i class="fe fe-x fe-24">&#xE876;</i>
                </div>
                <h4 class="modal-title w-100">Sorry!</h4>
              </div>
              <div class="modal-body">
                <p class="text-center">{{ message }}</p>
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger btn-block" style="background: #ef513a !important;" data-bs-dismiss="modal" (click)="closeModal()">OK</button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <p class="mt-5 mb-3 text-muted">© 2024</p>
    </form>
  </div>
</main>
