<main role="main" class="main-content">

  <div class="card shadow">
    <div class="card-body">
        <div class="row m-1">
            <form id="bar-search" class="form-header pt-3 pb-3" action="${pageContext.request.contextPath}/type" method="GET">
                <input class="au-input au-input--xl" type="text" name="motsCles" placeholder="Search ..."/>
                <button class="au-btn--submit text-white" type="submit">
                    <i class="fe fe-22 fe-search"></i>
                </button>
            </form>
        </div>

        <div class="text-center">
            <!-- <p style="color: orangered">${error}</p> -->
        </div>

        <!-- table -->
        <table class="table table-hover table-borderless border-v">
            <thead class="thead-dark">
            <tr>
                <th class="col-md-1">Ref</th>
                <th class="col-md-2">Client</th>
                <th class="col-md-1">Lieu</th>
                <th class="col-md-1">Type Maison</th>
                <th class="col-md-2">Date Devis</th>
                <th class="col-md-3">Montant Total</th>
                <th class="col-md-3">Montant Paye</th>
                <th class="col-md-2">% Paiement</th>
            </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let devis of devisList" data-toggle="collapse">
                      <td>{{devis.ref}}</td>
                      <td>{{devis.userClient.numero}}</td>
                      <td>{{devis.lieu}}</td>
                      <td class="text-center">{{devis.typeMaison.nom}}<br>{{devis.finition_nom}}</td>
                      <td>{{devis.datedevis}}</td>
                      <td class="text-right">{{devis.montanttotal | number:'1.2-2' }} Ar</td>
                      <td class="text-right">{{devis.montantpaye | number:'1.2-2'}} Ar</td>
                      <td class="text-right">{{(devis.montantpaye*100)/devis.montanttotal | number:'1.2-2'}} %</td>
                      <td class="text-center">
                        <a class="dropdown-item" (click)="navigateToDetailsDevis(devis.id)">Details <i class="fe fe-16 fe-info"></i></a>
                      </td>
                    </tr>
            </tbody>
        </table>

        <div class="row justify-content-between m-1">
            <div class="col-md-1"></div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li *ngIf="numberpage>1" class="page-item"><a class="page-link bg-secondary text-white" (click)="loadDevisPerPage(numberpage-1)">Previous</a></li>

                    <!-- <li *ngFor="let i of totalPages" class="page-item"><a class="page-link" href="${pageContext.request.contextPath}/codexconstruction/admin/devis?page=<%=i%>"><%=i%></a></li> -->


                    <li *ngIf="numberpage<totalPages" class="page-item"><a class="page-link bg-secondary text-white" (click)="loadDevisPerPage(numberpage+1)">Next</a></li>

                </ul>
            </nav>
        </div>

    </div>
</div>

<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner"></div>
</div>


</main>
